<!DOCTYPE html>
   <head>
      <title>Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body>

      <iframe src="http://192.168.1.179:3000/d-solo/ashLYBRRk/sensor-dashboard?refresh=60s&panelId=12&orgId=1" width="250" height="150" frameborder="0"></iframe>
      <iframe src="http://192.168.1.179:3000/d-solo/ashLYBRRk/sensor-dashboard?refresh=1m&panelId=13&orgId=1" width="450" height="200" frameborder="0"></iframe>
		<iframe src="http://192.168.1.179:3000/d-solo/ashLYBRRk/sensor-dashboard?refresh=60s&panelId=2&orgId=1" width="500" height="300" frameborder="0"></iframe>


   </body>
</html>
