<!DOCTYPE html>
<head>
   <title>Environment Sensors</title>
   <link rel="stylesheet" href='../static/style.css'/>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <style>
     body {
        text-align: center;
     }

   </style>
</head>

   <body>

      <iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=5" width="225" height="75" frameborder="0"></iframe>
      <iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=4" width="225" height="75" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=2" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=13" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=6" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=7" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=8" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=9" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=10" width="600" height="190" frameborder="0"></iframe>
      <br><iframe src="http://67.205.147.13:3000/d-solo/8rW0FDkWk/sensors?orgId=1&refresh=1m&panelId=11" width="600" height="190" frameborder="0"></iframe>


   </body>
</html>
