<!DOCTYPE html>
   <head>
      <title>Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body>

      <iframe src="http://192.168.1.179:3000/d-solo/K1TF2Rzgk/sensor-data?refresh=1m&orgId=1&panelId=2" width="450" height="200" frameborder="0"></iframe>
      <iframe src="http://192.168.1.179:3000/d-solo/K1TF2Rzgk/sensor-data?refresh=1m&orgId=1&panelId=3" width="450" height="200" frameborder="0"></iframe>
		<iframe src="http://192.168.1.179:3000/d-solo/K1TF2Rzgk/sensor-data?refresh=1m&orgId=1&panelId=5" width="450" height="200" frameborder="0"></iframe>


   </body>
</html>
